@import "../variables";

.modal {
    z-index: 101;
    position: fixed;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    background: $gray;
    border-radius: 5px;
    @media screen and (min-width: map-get($grid-breakpoints, "sm")) {
        width: 440px;
    }
    width: 100vw;
}

.content {
    padding: 15px;
}

.background {
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background: transparentize($color: #000000, $amount: 0.5);
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background: $gray-light;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}
