@use "sass:map";

$spacer: 1em;
$spacing: (
    0: 0,
    1: $spacer * 0.25,
    2: $spacer * 0.5,
    3: $spacer,
    4: $spacer * 1.5,
    5: $spacer * 3
);
@mixin stack($sizes) {
    @each $size in $sizes {
        .VStack-#{$size} {
            display: flex;
            flex-direction: column;
            flex: 1 1 auto;
            align-self: stretch;
            gap: map.get($spacing, $size);
        }
        .HStack-#{$size} {
            display: flex;
            flex-direction: row;
            align-items: center;
            align-self: stretch;
            gap: map.get($spacing, $size);
        }
    }
}

@include stack((0, 1, 2, 3, 4, 5));
