.Chat {
    display: flex;
    // flex: 1;
    flex-direction: column;
    height: 100%;
    width: 100%;
    align-content: flex-start;
    .ChannelHeader {
        box-sizing: border-box;
        display: flex;
        align-items: center;
        width: 100%;
        height: 50px;
        border-bottom: solid #000 0.5px;
        padding: 10px;
        vertical-align: middle;
        background-color: $gray;
        .text {
            display: inline-flex;
            align-items: center;
            svg {
                color: $gray-light;
                margin-right: 5px;
            }
            font-size: 16px;
            line-height: 20px;
            font-weight: 500;
        }
        .separator {
            display: inline;
            border-left: 1.5px solid $gray;
            margin-left: 10px;
            margin-right: 10px;
            height: 100%;
        }
        .description {
            color: $gray-light;
            font-size: 14px;
        }
    }
    .Messages {
        box-sizing: border-box;
        padding-bottom: 20px;
        height: 100%;
        max-width: 100%;
        overflow-y: scroll;
        display: flex;
        flex: 1;
        flex-direction: column;

        &::-webkit-scrollbar {
            -webkit-appearance: none;
            width: 8px;
        }
        &::-webkit-scrollbar-thumb {
            border-radius: 5px;
            background-color: #00000085;
        }
        &::-webkit-scrollbar-track {
            border-radius: 5px;
            background-color: $gray;
        }

        .beginning {
            display: flex;
            height: 100%;
            width: 100%;
            .content {
                width: 100%;
                padding: 20px;
                display: inline-block;
                align-self: flex-end;
                h3 {
                    font-weight: bold;
                }
                span {
                    color: #a3a3a3;
                }
            }
        }

        .message {
            @extend .selectable;
            display: flex;
            flex-direction: row;
            padding: 5px 10px;
            .messagewrapper {
                display: flex;
                align-items: center;
                flex-direction: row;
            }
            .hoverdate {
                min-width: 50px;
                font-size: 10px;
                color: gray;
                visibility: hidden;
            }
            &:hover .hoverdate {
                visibility: visible;
            }
            .contentwrapper {
                display: block;
                .content {
                    display: block;
                    overflow-wrap: break-word;
                    word-break: break-all;
                }
            }
            .avatar {
                width: 40px;
                height: 40px;
                border-radius: 50%;
                margin-right: 10px;
                vertical-align: top;
                cursor: pointer;
                &:active {
                    transform: translateY(2px);
                }
            }
            .user {
                font-weight: bold;
                cursor: pointer;
                &:hover {
                    filter: brightness(90%);
                }
            }
            .date {
                font-size: 12px;
                color: gray;
                margin-left: 5px;
            }
            &:hover {
                background-color: darken($color: $gray-dark3, $amount: 1);
            }
            .embedwrapper {
                padding-left: 50px;
                .embed {
                    height: 320px;
                    max-width: 420px;
                    min-width: 360px;
                    border-radius: 5px;
                    background-color: $gray;
                    border-left: solid red 5px;
                    .author {
                        padding: 15px 0px 0px 20px;
                        color: #ffffff;
                        font-size: 12px;
                        a {
                            color: #ffffff;
                            text-decoration: none;
                            font-weight: bold;
                            &:hover {
                                text-decoration: underline;
                            }
                        }
                    }
                    .title {
                        padding: 15px 0px 0px 20px;
                        color: #ffffff;
                        font-size: 16px;
                        a {
                            text-decoration: none;
                            font-weight: bold;
                            &:hover {
                                text-decoration: underline;
                            }
                        }
                    }
                    .yt-video {
                        padding: 15px 0px 0px 20px;
                        position: relative;
                        height: 100%;
                        iframe {
                            position: absolute;
                            top: 0;
                            left: 0;
                            // width: 75%;
                            // height: 75%;
                        }
                    }
                    &:not(:last-child) {
                        margin-bottom: 5px;
                    }
                }
            }
        }
    }
    .MessageInput {
        padding: 0px 10px 20px 10px;
        .Input {
            display: flex;
            background-color: $gray;
            border-radius: 8px;
            padding: 5px;
            textarea {
                font-size: 16px;
                display: flex;
                resize: none;
                outline: none;
                border: none;
                width: 100%;
                background-color: transparent;
                color: #ffffff;
            }
            .buttons {
                position: relative;
                display: flex;
                align-items: center;
                button {
                    color: $gray-light;
                    background-color: transparent;
                    border: none;
                    cursor: pointer;
                    &:hover {
                        color: #ffffff;
                        scale: 1.1;
                    }
                }
                .emoji-button {
                    display: flex;
                    align-items: center;
                }
                .length-indicator {
                    position: absolute;
                    bottom: 0;
                    right: 0;
                }
            }
        }
    }
}
