.Login-Card {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 25px;
    width: 55%;
    background-color: $gray-dark2;
}

.Input-Form {
    input,
    textarea {
        outline: none;
        border: solid $gray-dark 1px;
        border-radius: 5px;
        background-color: $gray-dark3;
        padding: 5px;
        width: 100%;
        color: #ffffff;
        &:focus {
            border: solid $blue 1px;
        }
    }
    div {
        font-size: 12px;
        text-transform: uppercase;
        font-weight: bold;
        &:not(:first-child) {
            margin-top: 5px;
        }
        &:not(:last-child) {
            margin-bottom: 5px;
        }
        color: #b8b2b2;
    }
}

hr.separator {
    margin: 40px 0px;
}
