.Modal {
    z-index: 101;
    position: fixed;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    background: $gray;
    border-radius: 5px;
    padding: 15px;
}

.ModalBackground {
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background: transparentize($color: #000000, $amount: 0.5);
}
