.ServerList {
    display: flex;
    flex-direction: column;
    flex: 0;
    flex-basis: $guildbar-width;
    overflow-y: scroll;
    min-width: $guildbar-width;
    background-color: $gray-dark;
    padding: $guildbar-padding;
    .SidebarButton {
        width: 50px;
        height: 50px;
        background-color: $gray-dark3;
        border-radius: 100px;
        border: none;
        padding: 0.5em;
        transition: border-radius 0.3s ease-in-out;
        cursor: pointer;
        margin-bottom: 5px;
        position: relative;
        &:hover,
        &.active {
            border-radius: 20px;
        }
        &:not(.sorting).active::before {
            position: absolute;
            top: 0;
            left: -15px;
            content: "";
            width: 10px;
            height: 50%;
            transform: translateY(50%);
            border-radius: 5px;
            background-color: #ffffff;
            transition: height 0.5s;
        }
        &:active {
            transform: translateY(2px);
        }
    }
    .WyvernSidebarButton {
        display: flex;
        align-items: center;
        justify-content: center;
        &:hover,
        &.active {
            background-color: $purple;
        }
    }
    .ServerSidebarIcon {
        @extend .WyvernSidebarButton;
        color: white;
    }
    .JoinSidebarButton {
        @extend .WyvernSidebarButton;
        width: 50px;
        height: 50px;
        color: $green;
        &:hover {
            color: white;
            background-color: $green;
        }
    }
}

.GuildBar {
    display: flex;
    position: relative;
    flex: 0;
    flex-direction: column;
    background-color: $gray;
    height: 100%;
    min-width: calc(100vw - $guildbar-width - 2 * $guildbar-padding);
    @media screen and (min-width: map.get($grid-breakpoints, "md")) {
        min-width: 240px;
    }
    .GuildMenu {
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        font-size: 15px;
        font-weight: bold;
        padding: 10px;
        border-bottom: solid #000 0.5px;
        height: 50px;
        cursor: pointer;
        .name {
            display: inline-block;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        &:hover {
            background-color: $gray-dark2;
        }
        &.active {
            background-color: $gray-dark2;
        }
    }
    .Menu {
        position: absolute;
        top: 60px;
        left: 10px;
        .ContextMenu {
            width: 180px;
        }
        &.show {
            visibility: visible;
            opacity: 1;
            transition: visibility 0s linear 0s, opacity 0.25s;
        }
        &.hide {
            visibility: hidden;
            opacity: 0;
            transition: visibility 0s linear 0.25s, opacity 0.25s;
        }
    }
    .ChannelsList {
        padding: 10px;
        flex: 1;
        .ChannelLink {
            display: flex;
            align-items: center;
            justify-content: space-between;
            color: $gray-light;
            border-radius: 5px;
            padding: 8px;
            margin-bottom: 3px;
            cursor: pointer;

            .first {
                display: flex;
                flex-direction: row;
                .type {
                    display: flex;
                    align-self: center;
                }
                .name {
                    display: flex;
                    align-items: center;
                    font-size: medium;
                    padding-left: 5px;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    max-width: 100px;
                }
            }
            .settings {
                display: flex;
                align-items: center;
                &:hover {
                    color: white;
                }
                &:active {
                    transform: translateY(1px);
                }
            }
            &:hover {
                background-color: darken($color: $gray, $amount: 2);
                .name {
                    color: white;
                }
            }
            &.active {
                background-color: darken($color: $gray, $amount: 3);
                .name {
                    color: white;
                }
            }
        }
    }
    .User-Card {
        $user-card-width: 90px;
        box-sizing: border-box;
        background-color: $gray-dark2;
        padding: 5px;
        display: flex;
        justify-content: space-between;
        .first {
            display: flex;
            flex-direction: row;
        }
        .avatar {
            width: 35px;
            height: 35px;
            margin-right: 5px;
            border-radius: 50%;
        }
        .hover-container {
            position: relative;
            height: 2ch;
        }
        .uc-status {
            position: absolute;
            transition: all 0.2s ease-in-out;
            scale: 1 1;
            font-size: 12px;
            color: #a6a6a6;
            display: inline-block;
            text-overflow: ellipsis;
            overflow-x: hidden;
            white-space: nowrap;
            width: $user-card-width;
        }
        &:hover .uc-status {
            translate: 0px -20px;
            scale: 1 0;
        }
        .uc-tag {
            position: absolute;
            transition: all 0.2s ease-in-out;
            scale: 1 1;
            font-size: 12px;
            color: #a6a6a6;
        }
        &:not(:hover) .uc-tag {
            translate: 0px 20px;
            scale: 1 0;
        }
        .user {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: $user-card-width;
            .username {
                font-size: 14px;
                font-weight: bold;
                color: #fff;
                text-overflow: ellipsis;
                overflow-x: hidden;
                white-space: nowrap;
            }
        }
        .buttons {
            display: flex;
            flex-direction: row;
            align-items: center;
            button {
                padding: 8px;
                border-radius: 5px;
                color: $gray-light;
                display: flex;
                background-color: $gray-dark2;
                outline: none;
                border: none;
                cursor: pointer;
                &:hover {
                    filter: brightness(150%);
                }
            }
        }
    }
}
