.UserBar {
    display: flex;
    flex: 0;
    flex-direction: column;
    height: 100%;
    min-width: 100vw;
    @media screen and (min-width: map.get($grid-breakpoints, "md")) {
        min-width: 200px;
    }

    .Users {
        flex: 1;
        margin: 5px;
        margin-top: 0;
        overflow-y: scroll;
        padding: 3px;
        padding-top: 0;
        box-sizing: border-box;
    }
    .TopBar {
        box-sizing: border-box;
        width: 100%;
        height: 50px;
        border-bottom: solid #000 0.5px;
        padding: 10px;
        vertical-align: middle;
        background-color: $gray;
    }
    .Title {
        padding-top: 15px;
        padding-bottom: 5px;
        font-size: 12px;
        text-transform: uppercase;
        font-weight: bold;
        color: #b8b2b2;
    }
    .user {
        width: inherit;
        margin-bottom: 5px;
        background-color: #464646;
        border-radius: 10px;
        padding: 3px;
        width: 100%;
        cursor: pointer;
        &.offline {
            filter: opacity(50%);
        }
        .avatar {
            width: 30px;
            height: 30px;
            border-radius: 50%;
            margin-right: 5px;
            vertical-align: middle;
        }
        .username {
            width: 100px;
            overflow: hidden;
            display: inline;
            text-overflow: ellipsis;
        }
        &:hover {
            filter: brightness(90%);
        }
        &:active {
            filter: brightness(85%);
        }
    }
}
