body {
    margin: 0px;
    padding: 0px;
    background-color: $gray-dark3;
    overflow: hidden;
    height: 100%;
    user-select: none;
}

.outlined:focus-visible {
    outline: 3px $blue solid !important;
}

.FadeTransition {
    @keyframes fadeIn {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
    @keyframes fadeOut {
        0% {
            opacity: 1;
        }
        100% {
            opacity: 0;
        }
    }
    &.in {
        opacity: 1;
        animation-name: fadeIn;
        animation-iteration-count: 1;
        animation-timing-function: ease-in;
        animation-duration: 0.25s;
    }
    &.out {
        opacity: 0;
        animation-name: fadeOut;
        animation-iteration-count: 1;
        animation-timing-function: ease-in;
        animation-duration: 0.25s;
    }
}

.SlideTransition {
    transform: translateY(0%);
    animation-name: slideIn;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 0.25s;

    @keyframes slideIn {
        0% {
            transform: translateY(-50%);
        }
        100% {
            transform: translateY(0%);
        }
    }

    &.out {
        transform: translateY(100%);
        animation-name: slideOut;
        animation-iteration-count: 1;
        animation-timing-function: ease-in;
        animation-duration: 0.125s;
    }

    @keyframes slideOut {
        0% {
            transform: translateY(0%);
        }
        100% {
            transform: translateY(100%);
        }
    }
}

.selectable {
    user-select: text;
}

@mixin zIndex($start, $end) {
    @for $index from $start to $end {
        .zi-#{$index} {
            z-index: $index;
        }
    }
}

@include zIndex(-1, 10);

.horizontal {
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex: 1;
}
