@import "bootswatch/dist/darkly/variables";
// @import "bootstrap/scss/bootstrap";

* {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
    color: white;
}

@import "variables";
@import "chat";
@import "general";
@import "serverlist";
@import "ui";
@import "userbar";
@import "utils";
@import "settings";
@import "transitions";
